*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
  }
  .body1{
        text-align: center;
        padding: 100px;
        }
.container {
            position: relative;
            width:90%;
            height: 1024px;
            max-width: 1680px;
            min-height: 300px;
            margin: 20px auto;
            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 10px;
            }
.title{
    text-align: center;
    margin-top: 10px;
    font-size: 4rem;
    font-family: 'Shadows Into Light', cursive;
}
.element{
          color: rgb(15, 1, 8);
          font-size: 1rem;
          text-align: center;
          display: flex;
          justify-content: center;
          background-size: cover;
          background-position: center;
          border: 10px solid black;
          border-radius: 2px;
          color: rgb(79, 76, 230);
         
     
          }
.texto{
    background-color: rgb(211, 208, 208);
    height: 35px;
    width: 50%;

} 
.element:hover {
    border:  10px solid orange;
    }         
      
.element1{
            background-image: url("../img/picasso1.jpg");
             
            }
.element2{
            background-image: url("../img/picasso2.jpg");
            }
.element3{
            background-image: url("../img/picasso3.jpg");
            }
.element4{
            background-image: url("../img/picasso4.jpg");
            }
.element5{
             background-image: url("../img/picasso5.jpg");
            }
.element6{
            background-image: url("../img/picasso6.jpg");
            }
.p1{ 
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    font-family: 'Shadows Into Light', cursive;
}
.control:hover {
    border:  2px solid orange;
    }

form{
    position: relative;    
    border: 5px solid rgb(101, 101, 221);
    width:90%; 
    max-width: 1680px;
    min-width: 300px; 
    margin: 20px auto;
    gap:20px;     
    justify-content: center;
    
    }

.form-data {
    background-color: rgb(209, 202, 202);
    margin: 30px;
    
}

.pictures{
    background-color: rgb(209, 202, 202);
    margin:30px;
}
.bn{
    text-align: center;
    
}

/* using Z index */

#rel1 {
    z-index: 3;
    height: 100px;
    position: relative;
    font-size: 2rem;
    font-family: 'Shadows Into Light', cursive;
    margin: 0px 50px 0px 50px;
}

#rel2 {
    z-index: 2;
    height: 120px;
    margin: 50px;
    padding: 10px;
    border: 1px solid #696;
    background-color: #cfc;
    font-size: 20px;
    
}

.p2{font-size: 50px;

}